<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="approveMapper">

	<select id="detailCl" resultType="ClassInfo">
		select class_no, trainer_name, class_stDate, class_endDate, class_maxCount, class_content, trainer_no
		from classInfo
		join trainer using(trainer_no)
		where class_no=#{classNo}
	</select>

	<insert id="insertApp" parameterType="Approve">
		insert into approve
		values(seq_apno.nextval, sysdate, sysdate, 'Y', #{approveComment}, #{classNo}, #{trainerNo}, #{confirmerNo})
	</insert>
	
	<update id="updateCl" parameterType="ClassInfo">
		update classInfo 
		set class_status = 'Y'
		where class_no = #{classNo}
	</update>
	
	<insert id="insertApp2" parameterType="Approve">
		insert into approve
		values(seq_apno.nextval, sysdate, sysdate, 'R', #{approveComment}, #{classNo}, #{trainerNo}, #{confirmerNo})
	</insert>
	
	<update id="updateCl2" parameterType="ClassInfo">
		update classInfo 
		set class_status = 'R'
		where class_no = #{classNo}
	</update>
</mapper>