<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<select id="selectListCalendar" resultType="Calendar">
		SELECT CAL_NO, CAL_TITLE, CAL_CONTENT, CAL_START, CAL_END, CAL_STATUS, TRAINER_NAME, CAL_TYPE, CAL_COLOR, TRAINER_NO
		FROM CALENDAR
		JOIN TRAINER USING (TRAINER_NO)
		WHERE CAL_STATUS='N'
	</select>
	<insert id="insertCalendar" parameterType="Calendar">
		INSERT INTO CALENDAR
		VALUES (SEQ_CALNO.NEXTVAL, #{calTitle}, #{calContent}, #{calStart}, #{calEnd}, DEFAULT, #{trainerNo}, #{calType}, #{calColor})
	</insert>
	<update id="updateCalendar" parameterType="Calendar">
		UPDATE CALENDAR
		SET CAL_TITLE=#{calTitle}, CAL_CONTENT=#{calContent}, CAL_START=#{calStart}, 
			CAL_END=#{calEnd}, CAL_TYPE=#{calType}, CAL_COLOR=#{calColor}, TRAINER_NO=#{trainerNo}
		WHERE CAL_NO=#{calNo}
	</update>
	
	<update id="deleteCalendar" parameterType="Calendar">
		UPDATE CALENDAR
		SET CAL_STATUS='Y'
		WHERE CAL_NO=#{calNo}
	</update>
	
	<select id="todayCal" resultType="Calendar" parameterType="_int">
		SELECT *
		FROM CALENDAR
		WHERE TRAINER_NO=#{tno} AND TO_DATE(SYSDATE, 'YY/MM/DD') BETWEEN TO_DATE(CAL_START, 'YY/MM/DD') AND TO_DATE(CAL_END, 'YY/MM/DD')
		ORDER BY CAL_START
	</select>
	
</mapper>
