<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="lockerMapper">
  
  	<resultMap type="Locker" id="lockerResultSet">
	  	<id property="lockerNo" column="locker_no" />
	  	<result property="lockerStartDate" column="locker_startDate" />
	  	<result property="lockerEndDate" column="locker_endDate" />
	  	<result property="lockerRegistDate" column="locker_registDate" />
	  	<result property="lockerStatus" column="locker_status" />
	  	<result property="lockerPosNo" column="locker_posNo" />
	  	<result property="memberNo" column="member_no" />
	</resultMap>
	 
	 <insert id="insertLocker" parameterType="Locker">
  		
  		insert into locker
  		values (SEQ_LKNO.nextval, #{lockerStartDate}, #{lockerEndDate}, default, default, #{lockerPosNo}, #{memberNo})
  		
  	</insert>
  	
  	<select id="selectList" resultType="LockerDto">
  		select *
		from LOCKERPOS 
		left join locker using(lockerpos_no)
		left join member using(member_no)
		where  member_name is null and LOCKERPOS_Delet='Y'
		ORDER BY 1 asc
  	</select>
  	
  	<select id="selectLockerPos" resultMap="lockerResultSet">
  		select *
		from LOCKER
		where LOCKER_STATUS='Y'
		order by 1 desc
  	</select>
  	
  	<update id="collectLocker" parameterType="_int">
  		update LOCKER
  		set LOCKER_STATUS='R'
  		where locker_no=#{lcno}
  	</update>
  	
  	<select id="selectLcPos" resultType="LockerPos">
  		select lockerpos_no
		from lockerpos
		join locker using (lockerpos_no)
		where locker_no = #{lcno}
  	</select>
  	
  	<update id="updateLcPosStatus" parameterType="_int">
  		update LockerPos
  		set lockerpos_status='X'
  		where lockerPos_no=#{lpno}
  	</update>
  	
  	<update id="updateMember" parameterType="_int">
  		update Member
  		set Member_LockerNo = #{lockerPosNo}
  		where member_no=#{memberNo}
  	</update>
</mapper>