<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="machineMapper">
  
  	<resultMap type="Machine" id="machineResultSet">
	  	<id property="mcNo" column="mc_no" />
	  	<result property="mcName" column="mc_name" />
	  	<result property="mcExplain" column="mc_explain" />
		<result property="thumbnail" column="thumbnail" />
		<result property="mcStatus" column="mc_status" />
		<result property="mcDate" column="mc_date" />
		<result property="thumbChange" column="thumb_change"/>
  	</resultMap>
  	
  	<select id="selectList" resultMap="machineResultSet">
  		select *
  		from machine
  		where mc_status='Y'
  	</select>
  
  	
  	<insert id="insertMachine" parameterType="Machine">
  		  		insert into machine
  				values(seq_MCNO.nextval, #{mcName}, #{mcExplain}, #{thumbnail}, #{thumbChange}, default, default)
  	</insert>
  	
  	<update id="deleteMachine" parameterType="_int" >
  		update machine
  		set mc_status='N'
  		where mc_no=#{mcNo}
  	</update>
  	
  </mapper>