<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="noticeMapper">
  
  	<resultMap type="Notice" id="noticeResultSet">
	  	<id property="noticeNo" column="notice_no" />
	  	<result property="noticeTitle" column="notice_title" />
	  	<result property="noticeContent" column="notice_content" />
	  	<result property="noticeDate" column="notice_date" />
	  	<result property="noticeStatus" column="notice_status" />
	  	<result property="trainerNo" column="trainer_no" />
		<result property="trainerName" column="trainer_name" />
  	</resultMap>
  
  	<select id="selectList" resultMap="noticeResultSet">
  		select NOTICE_NO,NOTICE_TITLE,NOTICE_DATE,TRAINER_NAME
  		from notice
        join trainer using(TRAINER_NO)
  		where notice_status='Y'
  		ORDER BY 1 desc
  	</select>
  	
  	<insert id="insertNotice" parameterType="Notice">
  		insert into notice
  		values(seq_NTNO.nextval, #{noticeTitle}, #{noticeContent}, default, default, #{trainerNo})
  	</insert>
  
 	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
 		select *
  		from notice
 		where notice_no=#{nno} and notice_status='Y'
 	</select> 
  	
  	<update id="deleteNotice" parameterType="_int" >
  		update notice
  		set notice_status='N'
  		where notice_no=#{nno}
  	</update>
  	
  	<update id="updateNotice" parameterType="Notice">
  		update notice
  		set notice_title=#{noticeTitle},
  			notice_content=#{noticeContent}
  		where notice_no=#{noticeNo}
  	</update>
  	
  <select id="mainNotice" resultType="Notice">
  		SELECT *
		FROM (
		    select ROWNUM NNUM, A.*
		    from (select *
		            from notice
		            where notice_status='Y'
		            ORDER BY NOTICE_DATE DESC) A )
		WHERE NNUM BETWEEN 1 AND 7
  	</select>
  	
  </mapper>

