<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="trainerMapper">
  
  	<!-- <resultMap type="Trainer" id="trainerResultSet">
	  	<id property="trainerNo" column="trainer_no" />
	  	<result property="trainerName" column="trainer_name" />
	  	<result property="trainerPwd" column="trainer_pwd" />
	  	<result property="trainerNick" column="trainer_nick" />
	  	<result property="trainerBirth" column="trainer_birth" />
	  	<result property="trainerGender" column="trainer_gender" />
	  	<result property="trainerPhone" column="trainer_phone" />
	  	<result property="trainerEmail" column="trainer_email" />
	  	<result property="trainerAddress" column="trainer_address" />
	  	<result property="trainerStatus" column="trainer_status" />
	  	<result property="trainerGrade" column="trainer_grade" />
	  	<result property="trainerAward" column="trainer_award" />
	  	<result property="trainerJoin" column="trainer_join" />
	  	<result property="trainerEnd" column="trainer_end" />
	  	<result property="trainerScheck" column="trainer_scheck" />
	  	<result property="trainerEcheck" column="trainer_echeck" />
	  	<result property="trainerThumbnail" column="trainer_thumbnail" />
  	</resultMap> -->
  
  	<select id="loginTrainer" parameterType="Trainer" resultType="Trainer">
		select * from trainer
		where trainer_pwd=#{trainerPwd} and trainer_status='Y'
	</select>
	
	<select id="changeTrainer" parameterType="Trainer" resultType="Trainer">
		select * from trainer
		where trainer_no=#{trainerNo} and trainer_status='Y'
	</select>
	
	<update id="updateTrainerProfile" parameterType="Trainer">
		update trainer
		set trainer_phone=#{trainerPhone}, trainer_email=#{trainerEmail},
		    trainer_address=#{trainerAddress}, trainer_thumbnail=#{trainerThumbnail},
		    trainer_award=#{trainerAward}
		where trainer_no=#{trainerNo}
	</update>
  
  
  </mapper>

