<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="trainerMapper">
	
	<select id="changeTrainer" parameterType="Trainer" resultType="Trainer">
		select * from trainer
		where trainer_no=#{trainerNo} and trainer_status='Y'
	</select>
	
	<update id="updateTrainerProfile" parameterType="Trainer">
		update trainer
		set trainer_nick=#{trainerNick}, trainer_phone=#{trainerPhone}, trainer_email=#{trainerEmail}, 
		    trainer_address=#{trainerAddress}, trainer_thumbnail=#{trainerThumbnail},
		    trainer_award=#{trainerAward}
		where trainer_no=#{trainerNo}
	</update>
	
	<select id="listTrainer" resultType="Trainer">
		SELECT * FROM TRAINER
		WHERE TRAINER_STATUS='Y'
		ORDER BY TRAINER_GRADE DESC
	</select>
	
	<select id="detailTrainer" parameterType="_int" resultType="Trainer">
		SELECT *
		FROM TRAINER
		WHERE TRAINER_NO=#{tno} AND TRAINER_STATUS='Y'
	</select>
  
  
  </mapper>

