<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.jh.tripleb.trainer.model.vo.Trainer" alias="Trainer"/>
		<typeAlias type="com.jh.tripleb.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.jh.tripleb.member.model.vo.MemberDtoU" alias="MemberDtoU"/>
		<typeAlias type="com.jh.tripleb.invoice.model.vo.Invoice" alias="Invoice" />	
		<typeAlias type="com.jh.tripleb.invoice.model.vo.InvoiceCompanyDto" alias="InvoiceCompanyDto" />
		<typeAlias type="com.jh.tripleb.invoice.model.vo.InvoicePurchaseDto" alias="InvoicePurchaseDto" />
		<typeAlias type="com.jh.tripleb.classInfo.model.vo.ClassInfo" alias="ClassInfo"/>
		<typeAlias type="com.jh.tripleb.suggestions.model.vo.Suggestions" alias="Suggestions"/>
		<typeAlias type="com.jh.tripleb.product.model.vo.Product" alias="Product"/>
		<typeAlias type="com.jh.tripleb.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.jh.tripleb.equipment.model.vo.Equipment" alias="Equipment"/>
		<typeAlias type="com.jh.tripleb.equipCheck.model.vo.EquipCheck" alias="EquipCheck"/>
		<typeAlias type="com.jh.tripleb.equipCheck.model.vo.EquipCheckDto" alias="EquipCheckDto"/>
		<typeAlias type="com.jh.tripleb.machine.model.vo.Machine" alias="Machine"/>
		<typeAlias type="com.jh.tripleb.equipCheck.model.vo.EquipDto" alias="EquipDto"/>
		<typeAlias type="com.jh.tripleb.calendar.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.jh.tripleb.mcManagement.model.vo.McManagement" alias="McManagement"/>
		<typeAlias type="com.jh.tripleb.mcManagement.model.vo.McManagementDto" alias="McManagementDto"/>
		<typeAlias type="com.jh.tripleb.mcAllCheck.model.vo.mcAllCheck" alias="mcAllCheck"/>
		<typeAlias type="com.jh.tripleb.approve.model.vo.Approve" alias="Approve"/>
		<typeAlias type="com.jh.tripleb.templateinfo.model.vo.TemplateInfo" alias="TemplateInfo" />
		<typeAlias type="com.jh.tripleb.payInfo.model.vo.PayInfo" alias="PayInfo" />
		<typeAlias type="com.jh.tripleb.mProduct.model.vo.MProduct" alias="MProduct" />
		<typeAlias type="com.jh.tripleb.student.model.vo.Student" alias="Student"/>
		<typeAlias type="com.jh.tripleb.student.model.vo.StudentDtoJ" alias="StudentDtoJ"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/trainer-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/invoice-mapper.xml" />
		<mapper resource="/mappers/suggestions-mapper.xml"/>
		<mapper resource="/mappers/product-mapper.xml"/>
		<mapper resource="/mappers/class-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/equipment-mapper.xml"/>
		<mapper resource="/mappers/equipcheck-mapper.xml"/>
		<mapper resource="/mappers/machine-mapper.xml"/>
		<mapper resource="/mappers/calendar-mapper.xml"/>
		<mapper resource="/mappers/mcManagement-mapper.xml"/>
		<mapper resource="/mappers/mcAllCheck-mapper.xml"/>
		<mapper resource="/mappers/approve-mapper.xml"/>
		<mapper resource="mappers/template-mapper.xml" />
		<mapper resource="mappers/payInfo-mapper.xml"/>
		<mapper resource="mappers/mProduct-mapper.xml"/>
		<mapper resource="mappers/student-mapper.xml"/>
	</mappers>
	

</configuration>